name: ci 
on:
  push:
    branches:
      - main  # Falls dein Haupt-Branch "master" heißt, bitte hier anpassen

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          
      - name: Install dependencies
        run: |
          pip install mkdocs-material 
          # Falls du später weitere Plugins nutzt, hier hinzufügen
          
      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
